@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --color-primary: #292f4d;
    --color-secondary: #534970;
    --color-tertiary: #886799;
    --color-accent: #db8dcd;
    --color-light: #fddaf7;
    --icon-size: 15rem;
    --name-font-size: 3em;
    --desc-font-size: 2em;
    --font-size: 1.35em;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5em;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary);
    border-radius: 0.1em;
}

* {
    font-family: 'Noto Sans', sans-serif;
    color: var(--color-light);
}

html,body {
    background-color: var(--color-secondary) !important;
    overflow: hidden;
    margin: 0;
}

.bg {
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
    background-color: var(--color-primary);
    left: 50vw;
    top: 50vh;
    position: absolute;
    transform: translate(-50%,-50%);
    overflow: hidden;
    overflow-y: scroll;
}
p {
    font-size: var(--font-size);
}
.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    background-image: url(twemojiontop.png);
    background-position: center;
    background-size: contain;
    display: inline-block;
}
.name {
    width: 20em;
    display: inline-block;
    top: 0;
    position: absolute;
    font-size: var(--name-font-size);
}
.desc {
    top: 2em;
    position: absolute;
    display: inline-block;
    font-size: var(--desc-font-size);
}
.inner {
    padding: 1em;
    display: flex;
}

.left {
    min-width: 500px;
    width: 55vw;
    display: inline-block;
    position: relative;
}
.right {
    top: 5em;
    display: inline-block;
    position: relative;
    height: 50vh;
    width: 40vw;
}
@media (max-width: 1500px) {
    .inner {
        display: block;
    }
    .left {
        width: 90vw;
    }
    .right {
        width: 90vw;
    }
}
@media (max-width: 1000px) {
    :root {
        --icon-size: 10rem;
        --name-font-size: 2.25em;
        --desc-font-size: 1.5em;
        --font-size: 1em;
    }
}
.social {
    text-align: right;
}
a {
    text-decoration: none;
    color: var(--color-accent);
}
b {
    color: var(--color-accent);
}
i {
    color: var(--color-accent);
}